header {
  padding-top: 10px;
}

main {
  margin-top: 10px;

  .row > div:first-child {
    border-right: 1px solid lightgray;
  }

  #tbl-container{
    max-height: 500px;
    overflow-y: auto;
  }

  #tbl-customers{
    thead{
      background-color:darkkhaki;
    }

    tr td{
      vertical-align: middle !important;
    }

    tr td:first-child{
      width: 70px;
      text-align: center;
    }

    tr td:last-child{
      width: 70px;
    }
  }
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}